# project configuration
.idea/

# library
venv/
venv_min/

# logs
*.log

# config file
/pb_config.ini

# discord Token
/DiscordToken

# Toornament Token
/ToornamentToken

# generated doc files
docs/source/generated/

# doc build
docs/build/

/geckodriver.exe
