# project configuration
.idea/

# library
venv*/

# logs
*.log

# config file
/pb_config.ini

# discord Token
/DiscordToken
/DiscordToken.prod

# Toornament Token
/ToornamentToken

# Riot Tokens
/RiotToken

# generated doc files
docs/source/generated/

# doc build
docs/build/

/geckodriver.exe

# pytest cache
*/.pytest_cache
.pytest_cache

# local tox
tox.ini
.tox
