aiohttp
async-timeout
atomicwrites
attrs
beautifulsoup4
certifi
chardet
colorama
discord.py
# idna # specific version requored by requests
importlib-metadata
more-itertools
multidict
packaging
pluggy
py
pyparsing
pytest
pytest-asyncio
requests
selenium
six
soupsieve
urllib3
wcwidth
websockets
yarl
zipp
